<h1>New cocktail</h1>

<%= simple_form_for(@cocktail) do |f| %>
 <% if !@cocktail.errors.any? %>
    <div class="notice notice-danger">
      Please correct the following errors:
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions btn btn-danger">
    <%= f.button :submit%>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
